body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

}

@media (min-width: 768px) {
  .responsive-image {
    width: 75%; /* Misalnya, atur sesuai kebutuhan */
  }
}

.h-144 {
  height: 36rem; /* 144 unit, sesuaikan dengan kebutuhan */
}


/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Animasi marquee berlawanan arah */
@keyframes marquee-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Kontainer marquee */
.marquee-container {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 3rem; /* Sesuaikan dengan tinggi elemen */
}

/* Baris pertama */
.marquee-row-1 {
  display: flex;
  animation: marquee-left 10s linear infinite;
}

/* Baris kedua */
.marquee-row-2 {
  display: flex;
  animation: marquee-right 10s linear infinite;
}

/* PurchasePage.css atau styles.css */
.item-kp {
  display: flex;
  align-items: center; /* Rata tengah secara vertikal */
  margin-bottom: 1rem; /* Spasi bawah antar item */
}

.icon-box {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px; /* Atur ukuran ikon sesuai kebutuhan */
  height: auto;
}

.value {
  font-size: 16px; /* Atur ukuran font sesuai kebutuhan */
  color: #333; /* Warna teks */
  margin-left: 8px; /* Spasi antara ikon dan teks */
}



@tailwind base;
@tailwind components;
@tailwind utilities;
